#header, #content, #footnotes, #footer {
    *zoom: 1;
}

#header:before, #content:before, #footnotes:before, #footer:before, #header:after, #content:after, #footnotes:after, #footer:after {
    content: " ";
    display: table;
}

#header:after, #content:after, #footnotes:after, #footer:after {
    clear: both;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    color: #222222;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

a img {
    border: none;
}

a {
    color: #005498;
    text-decoration: none;
    line-height: inherit;
}

a:hover {
    color: #00467f;
}

a:focus {
    color: #00467f;
}

p a, p a:visited {
    line-height: inherit;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.hide {
    display: none;
}

.hide-override {
    display: none !important;
}

.highlight {
    background: #fafafb;
}

#googlemap img, object, embed {
    max-width: none;
}

#map_canvas embed {
    max-width: none;
}

#map_canvas img {
    max-width: none;
}

#map_canvas object {
    max-width: none;
}

figure {
    margin: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-size: 16px;
    direction: ltr;
}

p {
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 17px;
}

p.lead, #preamble > .sectionbody > .paragraph > p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 17px;
}

aside p {
    font-size: 15px;
    line-height: 1.35;
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Grande", Georgia, Verdana, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #ba3925;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
    margin-bottom: 16px;
    margin-top: 16px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    color: #e99b8f;
    line-height: 0;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 27px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 16px;
}

hr {
    border: solid #dddddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 22px 0 21px;
    height: 0;
}

.subheader {
    line-height: 1.3;
    color: #e99b8f;
    font-weight: 300;
    margin-bottom: 17px;
}

em, i {
    font-style: italic;
    line-height: inherit;
}

strong, b {
    font-weight: bold;
    line-height: inherit;
}

small {
    font-size: 60%;
    line-height: inherit;
}

code {
    font-weight: bold;
    background: #fafafb;
}

ul, ol, dl {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 17px;
    list-style-position: outside;
}

ul li ul, ul li ol {
    margin-left: 20px;
    margin-bottom: 0;
}

ul.square, ul.circle, ul.disc {
    margin-left: 17px;
}

ul.square {
    list-style-type: square;
}

ul.square li ul {
    list-style: inherit;
}

ul.circle {
    list-style-type: circle;
}

ul.circle li ul {
    list-style: inherit;
}

ul.disc {
    list-style-type: disc;
}

ul.disc li ul {
    list-style: inherit;
}

ul.no-bullet {
    list-style: none;
}

ul.large li {
    line-height: 21px;
}

ol {
    margin-left: 20px;
}

ol li ul, ol li ol {
    margin-left: 20px;
    margin-bottom: 0;
}

blockquote, blockquote p {
    line-height: 1.5;
    color: #e99b8f;
}

blockquote {
    margin: 0 0 17px;
    padding: 9px 20px 0 19px;
    border-left: 1px solid #dddddd;
}

blockquote cite {
    display: block;
    font-size: 15px;
    color: #e07565;
}

blockquote cite:before {
    content: "\2014 \0020";
}

blockquote cite a, blockquote cite a:visited {
    color: #e07565;
}

abbr, acronym {
    text-transform: uppercase;
    font-size: 90%;
    color: #ba3925;
    border-bottom: 1px solid #dddddd;
    cursor: help;
}

abbr {
    text-transform: none;
}

.print-only {
    display: none !important;
}

@media print {
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }

    .hide-on-print {
        display: none !important;
    }

    .print-only {
        display: block !important;
    }

    .hide-for-print {
        display: none !important;
    }

    .show-for-print {
        display: inherit !important;
    }
}

a {
    text-decoration: underline;
}

code {
    font-weight: normal;
}

tt {
    font-weight: normal !important;
    font-family: monospace, serif;
    font-size: 15px;
    padding: 1px 4px 0px;
    margin: 0;
    white-space: nowrap;
    background-color: #eee;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

ol.arabic {
    list-style-type: decimal;
}

ol.loweralpha {
    list-style-type: lower-alpha;
}

ol.upperalpha {
    list-style-type: upper-alpha;
}

ol.lowerroman {
    list-style-type: lower-roman;
}

ol.upperroman {
    list-style-type: upper-roman;
}

td > div.verse {
    white-space: pre;
}

dl {
    margin-left: 12px;
}

dt {
    font-weight: bold;
}

#header, #content, #footnotes, #footer {
    width: 1000px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
}

@media only screen and (max-width: 767px) {
    #header, #content, #footnotes, #footer {
        width: auto;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

#header {
    margin-top: 26px;
    margin-bottom: 17px;
}

#header h1 {
    color: black;
    margin-bottom: 0;
}

#header span {
    color: #6f6f6f;
    font-size: 16px;
    line-height: 1.5;
}

#header span#revnumber {
    text-transform: capitalize;
}

#header br {
    display: none;
}

#header br + span {
    padding-left: 3px;
}

#header br + span:before {
    content: "\2013 \0020";
}

#toc {
    margin: 17px 0 17px 0;
    border: solid #dddddd;
    border-width: 1px 0 1px 0;
}

#toc > ol {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 26px;
}

#toc ol {
    list-style-type: none;
}

.title, #toctitle {
    font-weight: bold;
    color: #8f2c1d;
    margin-top: 16px;
    margin-bottom: 9px;
    font-size: 17px;
}

#toctitle {
    margin-top: 26px;
    font-family: "Lucida Grande", Georgia, Verdana, Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 16px;
}

#preamble > .sectionbody > .ulist li {
    font-size: 20px;
}

#preamble > .sectionbody > .ulist li p {
    font-size: 20px;
}

#content .sect1 {
    margin-bottom: 42px;
}

#content h1, #content h2, #content h3, #content h4 {
    margin: 27px 0 17px 0;
}

#content h2 {
    margin-top: 42px;
}

#footnotes {
    padding-bottom: 8px;
}

#footnotes hr {
    margin-top: 12px;
    margin-bottom: 16px;
}

#footnotes .footnote {
    line-height: 1.3;
    margin-left: 1.6em;
    text-indent: -1.1em;
    font-size: 15px;
    color: #555555;
}

#footnotes .footnote a {
    text-decoration: none;
    font-weight: bold;
}

#footer-text {
    border: solid #dddddd;
    border-width: 1px 0 0 0;
    margin-top: 11px;
    padding: 15px 0;
    font-size: 15px;
    color: #6f6f6f;
    line-height: 1.3;
}

.sectionbody {
    overflow: hidden;
}

.imageblock {
    margin-bottom: 17px;
}

.sidebarblock {
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    margin: 0 0 22px 0;
    padding: 10px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.sidebarblock .content > .title {
    margin-bottom: 17px;
    font-size: 27px;
    color: #555555;
    font-family: "Lucida Grande", Georgia, Verdana, Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.sidebarblock .content {
    line-height: 1.3;
    color: #6f6f6f;
    font-weight: 300;
    margin-bottom: 17px;
}

.sidebarblock .content pre {
    color: #555555;
}

.literalblock, .listingblock {
    margin-bottom: 17px;
}

.literalblock pre, .listingblock pre {
    font-size: 17px;
    font-family: monospace, serif;
    padding: 16px;
    border: dotted #bfbfbf;
    border-width: 1px 0;
    overflow-x: auto;
    line-height: 1.5;
}

.listingblock pre.highlight {
    padding: 0;
    line-height: 1.3;
    border: 0;
}

.listingblock pre.highlight code {
    overflow-x: auto;
    background-color: #fafafb;
    padding: 10px;
    border: 1px solid #cacaca;
    border: 1px solid #e6e6e6;
    display: block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    line-height: 1.3;
}

#content ul, #content ol li ul {
    margin-left: 28px;
}

#content ol, #content ol li ol {
    margin-left: 32px;
}

#content ol li ol, #content ol li ul {
    margin-bottom: 17px;
}

.ulist li > p:only-child, .olist li > p:only-child {
    margin-bottom: 8px;
}

.ulist li > p + .ulist, .ulist li > p + .olist, .olist li > p + .ulist, .olist li > p + .olist {
    margin-top: -8.5px;
}

.quoteblock {
    border-left: 1px solid #dddddd;
    padding: 5px 20px 5px 19px;
    margin-bottom: 17px;
    line-height: 1.5;
}

.quoteblock blockquote, .quoteblock blockquote p {
    padding: 0;
    margin: 0;
    color: #6f6f6f;
    border-left: 0;
}

.quoteblock blockquote .paragraph {
    margin-bottom: 12px;
}

.quoteblock .attribution {
    font-size: 15px;
    color: #555555;
}

.admonitionblock {
    margin-bottom: 17px;
}

.admonitionblock td.icon {
    font-weight: bold;
    padding-right: 20px;
    text-align: right;
    width: 80px;
    text-transform: uppercase;
}

.admonitionblock td.icon .title {
    font-family: "Lucida Grande", Georgia, Verdana, Helvetica, Arial, sans-serif;
    color: #222222;
}

.admonitionblock td.content {
    padding: 5px 20px;
    border-left: 1px solid #dddddd;
    line-height: 1.5;
    color: #6f6f6f;
}

table.tableblock {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 18px;
    border: 1px solid #dddddd;
}

table.tableblock caption {
    text-align: left;
}

table.tableblock thead, table tfoot {
    background: #f5f5f5;
}

table.tableblock thead tr th,
table.tableblock tfoot tr th,
table.tableblock tbody tr td,
table.tableblock tr td,
table.tableblock tfoot tr td {
    display: table-cell;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
}

table.tableblock thead tr th,
table.tableblock tfoot tr td {
    padding: 8px 10px 9px;
    font-size: 16px;
    font-weight: bold;
    color: #222;
}

table.tableblock thead tr th:first-child, table tfoot tr td:first-child {
    border-left: none;
}

table.tableblock thead tr th:last-child, table tfoot tr td:last-child {
    border-right: none;
}

table.tableblock tbody tr.even,
table.tableblock tbody tr.alt {
    background: #f9f9f9;
}

table.tableblock tbody tr:nth-child(even) {
    background: #f9f9f9;
}

table.tableblock tbody tr td {
    color: #333;
    padding: 9px 10px;
    vertical-align: top;
    border: none;
}

table.tableblock td div.paragraph:last-child p,
table.tableblock td > p:last-child {
    margin-bottom: 0;
}

div.unbreakable {
    page-break-inside: avoid;
}

span.big {
    font-size: larger;
}

span.small {
    font-size: smaller;
}

span.footnote, span.footnoteref {
    color: transparent;
    display: inline-block;
    margin-left: -.2em;
    margin-right: -.33em;
}

span.footnote a, span.footnoteref a {
    vertical-align: super;
    color: #005498;
    font-size: small;
    text-decoration: none;
}

.icon-pushpin,
.icon-info-sign,
.icon-warning-sign,
.icon-exclamation-sign {
    display: inline-block;
    width: 1em;
    text-align: center;
}

.icon-info-sign,
.icon-warning-sign,
.icon-exclamation-sign {
    text-shadow: 1px 1px 1px #aaaaaa;
}

.icon-pushpin {
    color: #8fb235;
    color: #006d3c;
}

.icon-info-sign {
    color: #00467f;
}

.icon-warning-sign {
    color: #cf4029;
}

.icon-exclamation-sign {
    color: #9b2210;
}

@media only screen and (max-width: 767px) {
    body {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}