name: Maven 4
on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.adoc'
      - docs/**
  pull_request:
    branches:
      - main
    paths-ignore:
      - '*.adoc'
      - docs/**

jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
      max-parallel: 12
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        java:
          - 17
          - 21
        maven:
          - 4.0.0-rc-2
    runs-on: ${{ matrix.os }}
    steps:
      - uses: s4u/setup-maven-action@v1.16.0
        with:
          java-distribution: 'temurin'
          java-version: ${{ matrix.java }}
          maven-version: ${{ matrix.maven }}
      - name: Maven version
        run: mvn -version
      - name: Build & Test
        run: mvn -B -Prun-its -Pmaven4 clean verify

